<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @idea.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @idea.Age %>
</p>

<p>
  <strong>City:</strong>
  <%= @idea.City %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Pictureupload:</strong>
  <%= @idea.pictureupload %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
